body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#project {
  padding-top: 5rem;
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

a.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #e2edff;
  border-radius: 50%;
  background: color #333;
  line-height: 40px;
}
